* {
    box-sizing:border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.sekcja-glowna {
width:100%;
height:100vh;
background: #000;
color: #fff;
display:flex;
align-items: center;
justify-content: center;
}

.sekcja-o-nas {
width:100%;
height:100vh;
background: #fff;
display:flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
background-repeat: no-repeat;
background-position: -450% top;
background-size: contain;
}

.sekcja-o-nas-lewa {
    width:30%;
    height:100%;
    background:red;
}

.sekcja-o-nas-prawa {
    width: 70%;
    display:flex;
    flex-direction: column;
}

.sekcja-uslugi {
width:100%;
height:100vh;
background: #eee;
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.sekcja-uslugi h2 {
    width: 100%;
    text-align: center;
}

.sekcja-uslugi img {
    width:20%;
    height: 40%;
    padding: 20px 10px;
}

.sekcja-opinie {
width:100%;
height:70vh;
background: #fff;
display:flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.opinie-kontener {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.opinie-kontener img {
    width: calc(100%/3);
    padding: 0 20px;
}

.stopka {
width:100%;
height:30vh;
background: #eee;
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.stopka-kol-1, .stopka-kol-2, .stopka-kol-3, .stopka-kol-4 {
    display: flex;
    flex-direction: column;
}