/* Reset domyślnych styli przeglądarki */
*, *::before, *::after {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    vertical-align: baseline;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #000;
    font-size: 1rem;
}

h1{
    
}

p {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 1.5;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: orangered;
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

/* Fixed header */

.fixed-header {
    width: 100%;
    position: fixed;
    display: flex;
    background: #fff;
}

.fixed-header ul li {
    display: inline-block;
    padding: 0 50px;
}

.logo {
    max-width: 150px;
}

/* Sekcja główna */

.sekcja-glowna {
width:100%;
height:100vh;
background: #000;
color: #fff;
display:flex;
align-items: center;
justify-content: center;
}

/* Sekcja o nas */

.sekcja-o-nas {
width:100%;
height:100vh;
background: #fff;
display:flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
background-repeat: no-repeat;
background-position: -450% top;
background-size: contain;
}

.sekcja-o-nas-lewa {
    width:30%;
    height:100%;
    background:red;
}

.sekcja-o-nas-prawa {
    width: 70%;
    display:flex;
    flex-direction: column;
}

/* Sekcja usługi */

.sekcja-uslugi {
width:100%;
height:100vh;
background: #eee;
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.sekcja-uslugi h2 {
    width: 100%;
    text-align: center;
}

.sekcja-uslugi img {
    width:20%;
    height: 40%;
    padding: 20px 10px;
}

/* Sekcja opinie */

.sekcja-opinie {
width:100%;
height:70vh;
background: #fff;
display:flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.opinie-kontener {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.opinie-kontener img {
    width: calc(100%/3);
    padding: 0 20px;
}

/* Stopka */

.stopka {
width:100%;
height:30vh;
background: #eee;
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.stopka-kol-1, .stopka-kol-2, .stopka-kol-3, .stopka-kol-4 {
    display: flex;
    flex-direction: column;
}

/* Responsywność */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 .container {
        max-width: 1000px;
    }
    
 .row {
        flex-direction: row;
    }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 .container {
        max-width: 1000px;
    }
    
 .row {
        flex-direction: row;
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .container {
        max-width: 750px;
    }
    
    .row {
        flex-direction: row;
    }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .container {
        max-width: 750px;
    }
    
    .row {
        flex-direction: row;
    }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}